extends layout.pug

block content
        .asideLeft
          .asideLeftDrapDrog#drop_zone  O Arrastra tus archivos Aqui
          output#list
         
        

          


        
        





  
  
