extends layout.pug

block content
        .asideLeft
          output#list.asideLeftDrapDrog
          form(method="post" id="formImages" class="formImages")
            input#files.files(type='file' name="files[]" multiple="")
            input(type='submit' value="Subir Archivos")

         
        
         
        

          


        
        





  
  
